@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.file {
  &__item {
    @include fade;

    color: #dce2e9;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
      background-color: #888787;
      cursor: pointer;
      color: $dark-background;
    }

    &--selected {
      background-color: darken($white, 5%);
      color: $dark-background;

      &:hover {
        background-color: darken($white, 5%);
      }
    }

    &--full {
      opacity: $inactive-opacity;
    }
  }

  &__description {
    display: flex;
    font-size: 14px;
  }
}

#play-all {
  color: greenyellow;
}

#pause-all {
  color: greenyellow;
}

#reset-all {
  color: greenyellow;
}
