@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.project-list {
  &__item {
    @include fade;

    color: #dce2e9;
    padding: 5px;
    max-height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    &:hover {
      background-color: #888787;
      cursor: pointer;
      color: $dark-background;
    }

    &--selected {
      background-color: darken($white, 5%);
      color: $dark-background;

      &:hover {
        background-color: darken($white, 5%);
      }
    }

    &--full {
      opacity: $inactive-opacity;
    }
  }

  &__description {
    display: flex;
    // align-items: center;
    font-size: 14px;
  }
}

.close {
  color: red;
  padding-bottom: 15px;
  &:hover {
    cursor: pointer;
    color: rgb(241, 129, 129);
  }
}
