@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  background-color: rgba(46, 46, 46, 0.8);
  padding: 10%;
  color: #dce2e9;
}

#project-page {
  box-sizing: content-box;
}

.controls {
  display: flex;
  padding-bottom: 5px;
}

.close {
  color: red;
  padding-bottom: 15px;
  &:hover {
    cursor: pointer;
    color: rgb(241, 129, 129);
  }
}

.project {
  &__item {
    @include fade;

    color: #dce2e9;
    max-height: 3rem;
    display: flex;
    flex-direction: row;

    &:hover {
      background-color: #888787;
      cursor: pointer;
      color: $dark-background;
    }

    &--selected {
      background-color: darken($white, 5%);
      color: $dark-background;

      &:hover {
        background-color: darken($white, 5%);
      }
    }

    &--full {
      opacity: $inactive-opacity;
    }
  }

  &__title {
    justify-content: left;
    color: white;
    padding-bottom: 20px;
  }

  &__description {
    display: flex;
    font-size: 14px;
  }
}

.users {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__title {
    color: white;
    padding: 10px;
  }
}
