@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.project {
  &__item {
    @include fade;

    color: #dce2e9;
    height: 5rem;
    display: flex;
    flex-direction: row;

    &:hover {
      background-color: #888787;
      cursor: pointer;
      color: $dark-background;
    }

    &--selected {
      background-color: darken($white, 5%);
      color: $dark-background;

      &:hover {
        background-color: darken($white, 5%);
      }
    }

    &--full {
      opacity: $inactive-opacity;
    }
  }

  &__title {
    justify-content: left;
    color: white;
    padding: 10px;
  }

  &__description {
    display: flex;
    font-size: 14px;
  }
}
