$logo-color: #e6e6e6;
$primary-text-color: #a6a6a6;
$hover-primary-text-color: #d9d9d9;
$main-bg-color: #1a1a1a;
.App {
  text-align: center;
  background-color: #35363a;
}
.App-nav {
  background-color: $main-bg-color;
  max-height: 200vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: $primary-text-color;
}
.directional-links {
  display: flex;
  flex-direction:row;
}
.user-auth {
  display: flex;
  flex-direction:row;
}
.nav-logo {
  padding: 1em;
  text-decoration: none;
  color: $logo-color;
  font-weight: bold;
}
.nav-link {
  padding: 1em;
  text-decoration: none;
  color: $primary-text-color;
  &:hover {
  color: $hover-primary-text-color;
  }
}
