
.App {
  text-align: center;
  background-color: #35363a;
}


.App-nav {
  background-color: #1a1a1a;
  max-height: 200vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.directional-links {
  display: flex;
  flex-direction:row;
}
.user-auth {
  display: flex;
  flex-direction:row;
}
.nav-logo {
  padding: 1em;
  text-decoration: none;
  color: #e6e6e6;
  font-weight: bold;
}
.nav-link {
  padding: 1em;
  text-decoration: none;
  color: #a6a6a6;
}
.nav-link:hover {
color: #d9d9d9;
}





//was here, unsed

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }
// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }
// .title {
//   display: flex;
//   align-items: left;
//   padding-left: 0.5em;
// }
// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
