@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.project-list {
  &__container {
    background-color: rgba(46, 46, 46, 0.8);
    padding: 10%;
    color: #dce2e9;
    min-height: 800px;
  }

  &__title {
    display: flex;
    padding-bottom: 20px;
  }
}

#new-project {
  max-width: 70px;
  color: green;
  padding-top: 15px;
  &:hover {
    color: rgb(203, 241, 146);
    background-color: transparent;
  }
}
