@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.user {
  &__item {
    @include fade;

    color: #dce2e9;
    max-height: 2em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    // &:hover {
    //   background-color: #888787;
    //   cursor: pointer;
    //   color: $dark-background;
    // }

    &--full {
      opacity: $inactive-opacity;
    }
  }

  &__description {
    display: flex;
    font-size: 14px;
  }
}

.close {
  color: red;
  padding-bottom: 15px;
  &:hover {
    cursor: pointer;
    color: rgb(241, 129, 129);
  }
}
