@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.user {
  &__item {
    @include fade;

    color: #dce2e9;
    max-height: 2em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }

  &__description {
    display: flex;
    font-size: 14px;
  }
}

.close {
  color: red;
  padding-bottom: 15px;
  &:hover {
    cursor: pointer;
    color: rgb(241, 129, 129);
  }
}
